<!-- Navbar -->
{{> navbar-partial }}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>See my saved items:</h1>
        </div>
    </div>

    <br />
    <div class="row justify-content-center">
        <div class="col-md-8">


            {{#each user.library}}
            <div class="card item-card">
                <!--div class="card-header">
                    <h5>{{text}}</h5>
                </div-->
                <div class="card-body">
                    <div style="display: inline-block; ">
                        <p>{{text}}</p>
                    </div>

                    <div style="display: inline-block;">
                        <img src="{{image}}" id="selected-image" alt="Selected image thumbnail" height="150px" width="150px" style="vertical-align: middle">
                        <audio controls id="polly-audio" style="vertical-align: middle">
                            <source src={{pollyUrl}} type="audio/mp3" />
                            <p>Your browser doesn't support HTML5 audio. Here is a
                                <a href={{pollyUrl}}>link to the audio</a> instead.</p>
                        </audio>
                        <button class="btn btn-dark delete-btn" id="{{_id}}" style="vertical-align: middle;">Remove from library</button>
                    </div>
                </div>



            </div>
            {{/each}}


        </div>
    </div>

</div>