<!-- Navbar -->
{{> navbar-partial }}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center">
        <strong>Convert your image to lifelike speech.</strong>
      </h3>
    </div>
  </div>

  <div class="row" id="upload-div-row">
    <div class="col-lg-6" id="upload-div-col">
      <!-- Left card -->
      <div class="card left">
        <div class="card-header">Upload text-containing image</div>
        <div class="card-body" style="display: flex; justify-content: space-between;">
          <!-- Left half of left card -->
          <div id="left-side">
            <h5 class="card-title">File upload</h5>
            <!-- File upload -->
            <div class="input-group">
              <form action="/api/add" method="post" enctype="multipart/form-data">
                <button type="button" class="btn btn-secondary" style="margin-bottom: 15px">
                  <label for="imgInp" style="margin: 0px; cursor: pointer;">Choose file</label>
                </button>
                <input type="file" name="image" accept="image/*" capture="camera" id="imgInp" style="display: none;" />
                <button class="btn btn-dark upload" type="submit" style="display: none;">Upload</button>
              </form>
            </div>
          </div>
          <!-- Right half of left card -->
          <div id="right-side">
            {{#if img}}
            <img src="{{{bufferToString img}}}" id="selected-image" alt="Selected image thumbnail" height="150px" width="150px"> {{else}}
            <img src="https://via.placeholder.com/150" id="selected-image" alt="Selected image thumbnail" height="150px" width="150px"> {{/if}}
          </div>
        </div>

        {{#if src}}
        <!-- Left card footer -->
        <div class="card-footer">
          <div style="display: flex; align-items: center; justify-content: center">
            <form action="/api/translate" method="post" style="display: flex; align-items: center; justify-content: center">
              <select class="form-control" name="targetLang" id="language">
                <option value="" select disabled>Select language</option>
                <option value="zh">Chinese (Mandarin)</option>
                <option value="da">Danish</option>
                <option value="nl">Dutch</option>
                <option value="en">English (US)</option>
                <option value="fr">French</option>
                <option value="hi">Hindi</option>
                <option value="de">German</option>
                <option value="is">Icelandic</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="ko">Korean</option>
                <option value="no">Norwegian</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese (European)</option>
                <option value="ro">Romanian</option>
                <option value="ru">Russian</option>
                <option value="es">Spanish (European)</option>
                <option value="sv">Swedish</option>
                <option value="tr">Turkish</option>
              </select>
              <input type="hidden" name="text" value="{{text}}" /> {{#if user}}
              <button type="submit" class="btn btn-dark translate" style="margin-left: 20px;">Translate</button>
              {{else}}
              <button type="button" class="btn btn-dark signed-in-false translate" style="margin-left: 20px;" data-toggle="modal" data-target="#exampleModalCenter">
                Translate
              </button>
              {{/if}}
            </form>
          </div>
        </div>
        {{/if}}
      </div>
    </div>

    <!-- Right card -->
    <div class="col-lg-6">
      {{#if src}}
      <!-- Displays when text-containing image is successfully processed -->
      <div class="card right border-success">
        <div class="card-header">Now reading</div>
        <!-- Detected text -->
        <div class="card-body text-success">
          <p class="card-text">{{text}}</p>
        </div>
        <!-- Footer -->
        <div class="card-footer">
          <div style="display: flex; align-items: center; justify-content: center">
            <!-- Audio button -->
            <audio loop id="polly-audio">
              <source src={{src}} type="audio/mp3" />
              <p>Your browser doesn't support HTML5 audio. Here is a
                <a href={{src}}>link to the audio</a> instead.</p>
            </audio>

            <!-- Play button (gets hidden when audio is playing) -->
            <button id="play-btn" class="btn btn-secondary" style="margin-right: 20px">
              <i class="fas fa-play"></i>
            </button>

            <!-- Pause button (gets hidden when audio is paused) -->
            <button id="pause-btn" class="btn btn-secondary" style="margin-right: 20px; display: none">
              <i class="fas fa-pause"></i>
            </button>

            {{#if user}}
            <!-- Save to database section -->
            <form action="/db/save" method="post">
              <input type="hidden" name="pollyUrl" value="{{src}}" />
              <input type="hidden" name="text" value="{{text}}" /> {{#if dbRedirect}}
              <!-- Displays upon page re-render after saving an item to database -->
              <span>Item successfully saved.</span>
              {{else}}
              <!-- Displays when item has not been saved yet -->
              <button class="btn btn-dark save" type="submit">Save to library!</button>
              {{/if}} {{else}}
              <!-- Displays when user is not signed in -->
              <button type="button" class="btn btn-dark signed-in-false save" data-toggle="modal" data-target="#exampleModalCenter">
                Save to library!
              </button>
            </form>
            {{/if}}
          </div>

        </div>
      </div>
      {{else}} {{#if err}}
      <!-- Displays when error occurs in processing image -->
      <div class="card right border-danger">
        <div class="card-header">Now reading</div>
        <div class="card-body text-danger">
          <p class="card-text">{{err}}</p>
        </div>
      </div>

      {{else}}
      <!-- Displays when user hasn't submitted an image yet -->
      <div class="card right">
        <div class="card-header">Now reading</div>
        <div class="card-body">
          <p class="card-text">No image uploaded yet.</p>
        </div>
      </div>
      {{/if}} {{/if}}

    </div>
  </div>
</div>

<!-- Modal (displays when a guest tries to access a "members only" feature) -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Log in or create an account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You must log in to access that feature.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
{{> footer-partial }}

<!-- Javascript for library page -->
<script>
  // On large devices (where cards render side-by-side), match card body heights 
  let right = $('div.right').children("div.card-body")[0].scrollHeight;
  let left = $('div.left').children("div.card-body")[0].scrollHeight;
  if (right > left && window.innerWidth > 993) {
    $('div.left').children("div.card-body").css("height", right);
  }

  // Audio button functionality
  let player = document.getElementById("polly-audio");

  $("#play-btn").on("click", function () {
    $(this).hide()
    $("#pause-btn").show()
    player.play()
  })

  $("#pause-btn").on("click", function () {
    $(this).hide()
    $("#play-btn").show()
    player.pause()
  })

</script>