<!-- Navbar -->
{{> navbar-partial }}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center"><strong>Convert your image to lifelike speech.</strong></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card-deck" style="margin-top: 50px">
        <!-- Left card -->
        <div class="card">
          <div class="card-header">Upload text-containing image</div>
          <div class="card-body">
            <!-- Left half of left card -->
            <div id="left-side">
              <h5 class="card-title">File upload</h5>
              <!-- File upload -->
              <div class="input-group">
                <form action="/api/add" method="post" enctype="multipart/form-data">
                  <input type="file" name="image" accept="image/*" capture="camera" id="imgInp" />
                  <button class="btn btn-dark upload" type="submit" style="display: none;">Upload</button>
                </form>
              </div>
            </div>
            <!-- Right half of left card -->
            <div id="right-side">
              {{#if img}}
              <img src="{{{bufferToString img}}}" id="selected-image" alt="Selected image thumbnail" height="150px" width="150px"> {{else}}
              <img src="https://via.placeholder.com/150" id="selected-image" alt="Selected image thumbnail" height="150px" width="150px"> {{/if}}
            </div>
          </div>

          {{#if src}}
          <div class="card-footer" style="text-align: center;">
            <div style="display: inline-block;">
              <form action="/api/translate" method="post" class="form-inline">
                <div class="form-group">
                  <label for="language" style="margin-right: 10px;">Select language:</label>
                  <select class="form-control" name="targetLang" id="language">
                    <option value="zh">Chinese (Mandarin)</option>
                    <option value="da">Danish</option>
                    <option value="nl">Dutch</option>
                    <option value="en">English (US)</option>
                    <option value="fr">French</option>
                    <option value="hi">Hindi</option>
                    <option value="de">German</option>
                    <option value="is">Icelandic</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="ko">Korean</option>
                    <option value="no">Norwegian</option>
                    <option value="pl">Polish</option>
                    <option value="pt">Portuguese (European)</option>
                    <option value="ro">Romanian</option>
                    <option value="ru">Russian</option>
                    <option value="es">Spanish (European)</option>
                    <option value="sv">Swedish</option>
                    <option value="tr">Turkish</option>

                  </select>
                  <input type="hidden" name="text" value="{{text}}" />
                </div>
                {{#if user}}
                <button type="submit" class="btn btn-dark" style="margin-left: 100px;">Translate</button>
                {{else}}
                <button type="button" class="btn btn-dark signed-in-false" style="margin-left: 100px;" data-toggle="modal" data-target="#exampleModalCenter">
                  Translate
                </button>
                {{/if}}

              </form>
            </div>
          </div>
          {{/if}}
        </div>

        {{#if src}}
        <div class="card border-success">
          <div class="card-header">Now reading</div>
          <div class="card-body text-success">
            <p class="card-text">{{text}}</p>
          </div>
          <div class="card-footer" style="text-align: center">
            <div style="display: inline-block">
              <audio controls id="polly-audio">
                <source src={{src}} type="audio/mp3" />
                <p>Your browser doesn't support HTML5 audio. Here is a
                  <a href={{src}}>link to the audio</a> instead.</p>
              </audio>

              {{#if user}}
              <form action="/db/save" method="post" style="display: inline;" id="save-form">
                <input type="hidden" name="pollyUrl" value="{{src}}" />
                <input type="hidden" name="text" value="{{text}}" /> {{#if dbRedirect}}
                <span style="margin-left: 10px;">Item successfully saved.</span>
                {{else}}
                <button class="btn btn-dark" type="submit" style="margin-left: 65px;">Save to library!</button>
                {{/if}} {{else}}
                <button type="button" class="btn btn-dark signed-in-false" style="margin-left: 65px;" data-toggle="modal" data-target="#exampleModalCenter">
                  Save to library!
                </button>
              </form>
              {{/if}}
            </div>

          </div>
        </div>
        {{else}} {{#if err}}
        <div class="card border-danger">
          <div class="card-header">Now reading</div>
          <div class="card-body text-danger">
            <p class="card-text">{{err}}</p>
          </div>
        </div>

        {{else}}
        <div class="card">
          <div class="card-header">Now reading</div>
          <div class="card-body">
            <p class="card-text">No text submitted yet.</p>
          </div>
        </div>
        {{/if}} {{/if}}


      </div>
    </div>
  </div>

</div>

{{> footer-partial }}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Log in or create an account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You must log in to access that feature.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>